<ion-toolbar>
  <ion-title>
    <h5>{{itemAddon.name}}</h5>
  </ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="dismissAddon()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding-horizontal">
  <ion-fab slot="fixed" vertical="bottom">
    <ion-button color="success" mode="md" expand="full" style="text-transform: capitalize;" (click)="addAddOns()">
      <ion-icon size="small" slot="end" name="caret-forward-outline"></ion-icon>
      ADD
    </ion-button>
  </ion-fab>

  <div class="sub-addons" *ngFor="let subAddon of itemAddon.sub_addons">
    <ion-list *ngIf="subAddon.type === 'single_select'">
      <ion-list-header>
        <h6>{{subAddon.name}}</h6>
      </ion-list-header>
    
      <ion-radio-group name="{{subAddon.name}}"
        (ionChange)="selectedRadioAddon($event, subAddon)">
        <ion-item lines="none" *ngFor="let item of subAddon.addons; let index">
          <ion-label style="font-size: 14px;">{{item.name}}</ion-label>
          <ion-radio mode="md" name="{{item.name}}" slot="start" value="{{item.id}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-list *ngIf="subAddon.type === 'multi_select'">
      <ion-list-header>
        <h6>{{subAddon.name}}</h6>
      </ion-list-header>

      <ion-item lines="none" *ngFor="let item of subAddon.addons; let i = index" (ionChange)="selectedCheckBoxAddon(item, i)">
        <ion-label style="font-size: 14px;">{{item.name}}</ion-label>
        <ion-checkbox slot="start" [checked]="i == 0" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>


  <br> <br> <br> <br>
</ion-content>