<!-- <ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="dismissCart()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar> -->

<ion-content>
  <div class="guidelines ion-padding-horizontal">
    <p>If you have any concerns regarding food allergies, please alert your server prior to ordering. <br> <br>
      Prices are in Indian Rupees and applicable to Government Taxes. <br> <br>
      <b>We do not levy any service charge.</b></p>
  </div>
</ion-content>